{% extends "base.html" %}

{% block title %}Users{% endblock %}
{% block content %}
<h1>Persons</h1>
<ul>
    <p>3)Ввести 10 разных пользователей разных возрастов/<br>4) Вывести всех пользователей сайта.</p>
    {% for person in persons_list %}
    <li>
        Имя: {{ person.first_name }}, Возраст: {{ person.age }}
    </li>
    {% endfor %}
</ul>

<ul>
    <p>6) Вывести тех пользователей которые старше 40 лет а имя начинается на “P”.</p>
    {% for person in persons_list %}
    <li>
        {% if person.age > 40 and person.first_name.0 == 'P' %}
        Имя: {{ person.first_name }}, Возраст: {{ person.age }}
        {% else%}
        <p>Нет таких пользователей</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<ul>
    <p>7) Найти всех пользователей которых зовут “Nick” или “Suzan”</p>
    {% for person in persons_list %}
    <li>
        {% if person.first_name == 'Nick' or person.first_name == 'Suzan'%}
        Имя: {{ person.first_name }}
        {% else%}
        <p>Нет таких пользователей</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>


<ul>
    <p>8) Вывести первых 5 самых младших людей на сайте.</p>
    {% for person in persons_list|dictsort:"age" %}
    {% if forloop.counter <= 5 %}
    Имя: {{ person.first_name }}, Возраст: {{ person.age }}
    {% endif %}
    {% endfor %}
</ul>

<ul>
    <p>9) Вывести всех девушек в возрасте от 18 до 30 лет</p>
    {% for person in persons_list %}
    {% if person.age > 18 and person.sex == 'f' and person.age < 30 and person.sex == 'f'%}
    Имя: {{ person.first_name }}
    {% endif %}
    {% endfor %}
</ul>
<ul>
    <p>10) Вывести всех пользователей, которые не заполнили почту на сайте.</p>
    {% for person in persons_list %}
    {% if person.email == NULL %}
    Имя: {{ person.first_name }}
    {% else %}
    Нет таких пользователей
    {% endif %}
    {% endfor %}
</ul>


{% endblock %}